<% layout('dashboardlayout') -%>
<% block('title', 'Dashboard') -%>

<!--****************************************************************************************************************************-->
<section>
	<div class="container-fluid">
    	<div class="row">
        	<div class="col-sm-3 col-md-2 sidebar">
            	<nav>
                	<ul>
                    	<li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                        <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>All Reports</a></li>
                        <li><a href="#"> <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>All Uploads</a></li>
                    </ul>
                </nav>
            </div>
              <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 bigheight">
            <div class="sidebar1">
             <div class="row margin">
                	<div class="col-md-6 col-sm-6 col-xs-6">
                    	<h1>YOUR UPLOADS</h1>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 upload">
                  <div class="arrow"><img src="/../main/images/arrow.png"/>  	<a href="#">upload</a></div>
                </div>
                </div>
                 <div class="row margin">
               		<div class="col-md-12">
                      <h3>You have no uploaded videos. Start by uploading a video now! </h3>	
                    </div>
                    
                    
                    
               </div>
                </div>
                    <div class="sidebar1 sidecon">
                        <div class="row margin">
                            <div class="col-md-12"> 
                            	<h1>STATS OVERVIEW</h1>
                            </div>
                        </div>
                        <div class="row margin">
                        	<div class="col-md-12">
                            	    <h3>No reports available.<br/> Upload a video and share it to learn more about your viewers! </h3>
                            </div>
                            
                        </div> 
                    </div>
                <div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--****************************************************************************************************************************-->