<% layout('dashboardlayout') -%>
<% block('title', '- Dashboard') -%>

<!--****************************************************************************************************************************-->
<section>
	<div class="container-fluid">
    	<div class="row">
        	<div class="col-sm-3 col-md-2 sidebar">
            	<nav>
                	<ul>
                    	<li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                        <li><a href="#"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i>Videos to Watch</a></li>
                        <li><a href="#"> <i class="fa fa-history" aria-hidden="true"></i>Video History</a></li>
                    </ul>
                </nav>
            </div>
             <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 bigheight">
            <div class="sidebar1">
             <div class="row margin">
                	<div class="col-md-12">
                    	<h1>ALL VIDEOS</h1>
                </div>
               
                </div>
                 <div class="row margin">
               		<div class="col-md-3 col-sm-6">
                    	<div class="images-box">
                        	<img src="/../main/images/videoimages1.png"/>
                            <div class="left"><img src="/../main/images/uservideo.png"/></div>
                            <div class="right">
                            <h1><span>Wind Energy - The Fut...</span><span class="time">5:45</span></h1>
                            <h2>Ink. Advertising</h2>
                            <p>Due tomorrow</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="images-box">
                        	<img src="/../main/images/videoimages2.png"/>
                            <div class="left"><img src="/../main/images/uservideo.png"/></div>
                            <div class="right">
                            <h1><span>City Nights</span><span class="time">15:05</span></h1>
                            <h2>Ink. Advertising</h2>
                            <p>Due in 5 days</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="images-box">
                        	<img src="/../main/images/videoimages3.png"/>
                            <div class="left"><img src="/../main/images/uservideo.png"/></div>
                            <div class="right">
                            <h1><span>Furry Buddies</span><span class="time">10:45</span></h1>
                            <h2>Ink. Advertising</h2>
                            <p>Due in 1 week</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="images-box">
                        	<img src="/../main/images/videoimages4.png"/>
                            <div class="left"><img src="/../main/images/uservideo.png"/></div>
                            <div class="right">
                            <h1><span>Cuisines of the World</span><span class="time">13:53</span></h1>
                            <h2>Ink. Advertising</h2>
                            <p>Due in 2 week</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="images-box">
                        	<img src="/../main/images/videoimages5.png"/>
                            <div class="left"><img src="/../main/images/uservideo.png"/></div>
                            <div class="right">
                            <h1><span>Energy to Climb</span><span class="time">5:45</span></h1>
                            <h2>Ink. Advertising</h2>
                            <p>Watched</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="images-box">
                        	<img src="/../main/images/videoimages6.png"/>
                            <div class="left"><img src="/../main/images/uservideo.png"/></div>
                            <div class="right">
                            <h1><span>Goosebumps Trailer</span><span class="time">15:05</span></h1>
                            <h2>Ink. Advertising</h2>
                             <p>Watched</p>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="images-box">
                        	<img src="/../main/images/videoimages7.png"/>
                            <div class="left"><img src="/../main/images/uservideo.png"/></div>
                            <div class="right">
                            <h1><span>Horror Campaign</span><span class="time">10:45</span></h1>
                            <h2>Ink. Advertising</h2>
                           <p>Watched</p>
                           </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="images-box">
                        	<img src="/../main/images/videoimages8.png"/>
                            <div class="left"><img src="/../main/images/uservideo.png"/></div>
                            <div class="right">
                            <h1><span>Desert Horses</span><span class="time">13:53</span></h1>
                            <h2>Ink. Advertising</h2>
                             <p>Watched</p>
                             </div>
                        </div>
                    </div>
               </div>
                </div>
                    
                <div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--****************************************************************************************************************************-->