<p>Welcome, <%=companyName%>,</p>
<br/>
<p><em>Thank you</em> for joining us.</p>
<strong>Login details, </strong>
<p>Email: <%=email%></p>
<p>Password: <%=password%></p>
<p><a href="http://182.74.29.149:1336/client">Please click here to login</a></p>